body {
  background-color: #010409;
  }
  h1, h2, h3, p, a {
      font-family: arial, sans-serif;
      color: #dddddd;
      padding-left: 5px;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 6px;
    color: #dddddd;
    border: 3px solid #080b0f;
    
  }
  td:nth-child(even), th:nth-child(even) {
      border-left: 3px solid #080b0f;
  }
  
  
  tr:nth-child(even) {
    background-color: #0d1117;
  }
h2, h3 {
  color: white;
  font-family: arial, sans-serif;
}

.space tr, .space td{
    background-color: #010409;
    color: #010409;
    padding: 25px;
    border: 0px;
}

.emotes {
  display: flex;
  justify-content: center;
}

.subTable {
  margin-left: 2%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010409; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f2b3a6c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d2633; 
}

.grid-container {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  grid-auto-rows: auto;
  grid-gap: 4px 4px;
  grid-template-areas: "left middle middle right";
}

.item {
  color: #ffffff;
  font-family: arial, sans-serif;
  font-size: 10pt;
  align-self: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 4;
  flex-shrink: 3;
  align-content: center;
}

.navigation {
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  font-family: arial, sans-serif;
}

.navigation a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  color: #3a89ff;
}

.navigation .disabled {
  color: #1d4786;
}

.navigation .active {
  color: #3a89ff;
  background-color: #1f2b3a6c;
 }

.navigation a:hover:not(.active):not(.disabled) {background-color: #1d2633;}
