body {
  background-color: #010409;
}

h1, h2, h3, h4, p, a, small {
    font-family: arial, sans-serif;
    color: #dddddd;
    padding-left: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 6px;
  color: #dddddd;
  border: 3px solid #080b0f;
  
}

td:nth-child(even), th:nth-child(even) {
    border-left: 3px solid #080b0f;
}

tr:nth-child(even) {
  background-color: #0d1117;
}

h2, h3 {
  color: white;
  font-family: arial, sans-serif;
}

.space tr, .space td{
    background-color: #010409;
    color: #010409;
    padding: 25px;
    border: 0px;
}

.emotes {
  display: flex;
  justify-content: center;
}

.subTable {
  margin-left: 2%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010409; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f2b3a6c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d2633; 
}

.grid-container {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  grid-auto-rows: auto;
  grid-gap: 4px 4px;
  grid-template-areas: "left middle middle right";
}

.item {
  color: #ffffff;
  font-family: arial, sans-serif;
  font-size: 10pt;
  align-self: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 4;
  flex-shrink: 3;
  align-content: center;
}

.navigation {
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  font-family: arial, sans-serif;
}

.navigation a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  color: #3a89ff;
}

.navigation .disabled {
  color: #1d4786;
}

.navigation .active {
  color: #3a89ff;
  background-color: #1f2b3a6c;
 }

.navigation a:hover:not(.active):not(.disabled) {background-color: #1d2633;}

.pet-info {
  text-align: center;
}

.music {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.musicbox {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: fit-content;
  padding: 10px 60px 20px 60px;
  border-radius: 10px 10px 10px 10px;
  background-color: #1f2b3a6c;
  color: white;
}

.musicbutton {
  background-color: #9147ff;
  font-size: 19px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 15px 50px;
  cursor: pointer;
}

.musicbutton:hover {
  color: #ffffff;
  background-color: #7218e4;
}

.spotify {
  color: #ffffff;
  background-color: #1ed760;
}

.spotify:hover {
  color: #ffffff;
  background-color: #01ac3d;
}

.musicbutton.disabled {
  pointer-events: none;
  cursor: default;
  background-color: #7018e454;
  color: #4f4f4f; 
  text-decoration: none;
}

.musicuser{
  justify-content: center;
  align-items: center;
  display: flex;
  border-style: dashed;
  border-color: white;
  border-radius: 5px 5px 5px 5px;
  height: 80px;
  margin-top: 10px;
}

.musicuser > img {
  height: 80%;
}

.musicbox > .error {
  text-align: center;
}