<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolved</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%if (!cookieToken) { %>
    <a href="https://hotbear.org/twitch/login"> Twitch Login </a>
    <% } else { %>
    <a href="https://hotbear.org/spotify/login"> Spotify Login </a>
    <%  } %>
</body>

</html>