<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newEmotes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="emotes">
        <h1>Emotes added</h1>
        <h1 id="sorted">Sorted by: First added </h1>
        <table id="emoteSort">

            <tr>
                <th id="sort-button" style="color: #3a89ff; cursor: pointer; text-align: left;" onclick="reverseTableRows()">Sort ▲</th>
                <th>Emote name:</th>
                <th>Added by:</th>
            </tr>
            <%emotes.reverse()%>
        <% emotes.forEach(function(emote) { %>

            <%if (emote.Type === "election") { %>
            <%emoteImage = `https://cdn.7tv.app/emote/${emote.EmoteID}/2x`%>

            <%if (emote.EmoteCode === "dankHug") { %>
                <%emoteImage = "https://cdn.7tv.app/emote/616edc115ff09767de29919b/2x" %>
            <%}%>

            <tr>
                <td> <img src="<%= emoteImage %>"> </td>

                <td> <p><%- emote.EmoteCode%></p> </td>
            
                <td> <p><%- emote.AddedBy%></p> </td>
            </tr>
            <%}%>
        <% }) %>

        </table>
    </div>

</body>
<script>

let reversed = false;

function getReversed() {
    return reversed;
}
    
    function reverseTableRows() {
    let table = document.getElementById('emoteSort'),
        newTbody = document.createElement('tbody'),
        oldTbody = table.tBodies[0],
        rows = oldTbody.rows,
        i = rows.length - 2;
        newTbody.appendChild(rows[0]);
        console.log(newTbody);
    while (i >= 0) {
        newTbody.appendChild(rows[i]);
        i -= 1;
    }

    oldTbody.parentNode.replaceChild(newTbody, oldTbody);

    reversed = (reversed) ? false : true;
    let sorted = document.getElementById('sorted');
    let Sort = document.getElementById('sort-button');
    if (reversed) {
        sorted.innerText = 'Sorted by: Last added'
        Sort.innerText = 'Sort ▼'
    } else {
        sorted.innerText = 'Sorted by: First added'
        Sort.innerText = 'Sort ▲'
    }
}

</script> 

</html>