<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resolved</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body style="margin: 0;">
    <div class="wrapper">
        <div class="music">
            <div class="musicbox">
                <div>
                    <h3>Botbear Spotify integration</h3>
                    <img src="/img/spotify_logo.png" alt="Spotify Logo" />
                </div>
                <div>
                    <h2>You have successfully linked your spotify with botbear!</h2>
                    <h3>You can now use commands such as <pre>`bb spotify` or `bb grab @Username`</pre></h3>
                    <h3>This page can now be closed.</h3>
                    <img src="/img/LETSPEPE.png" alt="LETS PEPE"/>
                </div>
            </div>
        </div>
    </div>
</body>

</html>